#section2 .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    vertical-align: center;
}
.container .row .left-section .left-top{
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    width: 70%;
}
.container .row .left-section .left-top img{
    height: 20px;
    width: 20px;

}
/* https://pagebolt.uicore.co/lead-capture/#    */