#section8-container #section8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 0;
  
}
#section8-container #section8 .top-part1{
    margin-top: 5pc;
}
#section8-container #section8 .top-part1 h3{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    /* margin-top: 9pc; */
    margin-bottom: 3pc;
}
#section8-container #section8 .top-part2 h1{
    font-size: 66px;
    font-weight: 600;
    color: #16171C;
    margin-bottom: 4pc;
}



#section8 .top-part1 .vertical{
    border-left: 2px solid #2173FF;
    height: 28px !important;
    display: inline;
    margin-right: 7px;
    text-align: left;
    float: left;
    text-align: left;
}
#bottom-part1{
  width: 100%;
  text-align: center;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section8-container #section8 .bottom-part .middle-two-divs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin: 1pc;
    text-align: left;
    padding: 2pc;
    border: none;
    border-radius: 10px;
    width: 60%;
}

#section8-container #section8 .bottom-part .middle-two-divs .inner-left h3{
  font-size: 31px;
  font-weight: 400;
  color: #4A4F5C;
  width: auto;
 
}
#section8-container #section8 .bottom-part .middle-two-divs .inner-left h3:hover{
  font-size: 31px;
  font-weight: 500;
  color: #2173FF;
  cursor: pointer;
 
}
#section8-container #section8 .bottom-part .middle-two-divs .inner-left p{
  font-size: 22px;
  font-weight: 500;
  color: #4A4F5C;
  /* display: none; */
  margin-top: 3pc;
}





#section8-container #section8 .bottom-part .middle-two-divs .button_plus {
  width: 36px;
  height: 36px;
  background-color: #3498db; /* Default background color */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10%;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

/* Define the plus sign icon inside the button */
#section8-container #section8 .bottom-part .middle-two-divs .button_plus::before {
  content: "+"; /* Plus sign character */
  font-size: 48px; /* Adjust the size as needed */
  color: white; /* Icon color */
  vertical-align: center;
  margin-bottom: 10px;
}

/* Define the hover effect for the button */
#section8-container #section8 .bottom-part .middle-two-divs .button_plus:hover {
  background-color: #e74c3c; /* Hover background color */
}








@media screen and (max-width:900px){
  #section8-container #section8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  
}
#section8-container #section8 .top-part1{
    margin-top: 5pc;
}
#section8-container #section8 .top-part1 h3{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    /* margin-top: 9pc; */
    margin-bottom: 3pc;
}
#section8-container #section8 .top-part2 h1{
    font-size: 50px;
    font-weight: 600;
    color: #16171C;
    margin-bottom: 4pc;
}



#section8 .top-part1 .vertical{
    border-left: 2px solid #2173FF;
    height: 28px !important;
    display: inline;
    margin-right: 7px;
    text-align: left;
    float: left;
    text-align: left;
}
#bottom-part1{
  width: 100%;
  text-align: center;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#section8-container #section8 .bottom-part .middle-two-divs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin: 1pc;
    text-align: left;
    padding: 2pc;
    border: none;
    border-radius: 10px;
    width: 80%;
}

#section8-container #section8 .bottom-part .middle-two-divs .inner-left h3{
  font-size: 24px;
  font-weight: 400;
  color: #4A4F5C;
  width: auto;
 
}
#section8-container #section8 .bottom-part .middle-two-divs .inner-left h3:hover{
  font-size: 24px;
  font-weight: 500;
  color: #2173FF;
  cursor: pointer;
 
}
#section8-container #section8 .bottom-part .middle-two-divs .inner-left p{
  font-size: 16px;
  font-weight: 500;
  color: #4A4F5C;
  /* display: none; */
  margin-top: 3pc;
}





#section8-container #section8 .bottom-part .middle-two-divs .button_plus {
  width: 25px;
  height: 25px;
  background-color: #3498db; /* Default background color */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10%;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

/* Define the plus sign icon inside the button */
#section8-container #section8 .bottom-part .middle-two-divs .button_plus::before {
  content: "+"; /* Plus sign character */
  font-size: 40px; /* Adjust the size as needed */
  color: white; /* Icon color */
  vertical-align: center;
  margin-bottom: 10px;
}

/* Define the hover effect for the button */
#section8-container #section8 .bottom-part .middle-two-divs .button_plus:hover {
  background-color: #e74c3c; /* Hover background color */
}
}







@media screen and (max-width:650px){
  #section8-container #section8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  
}
#section8-container #section8 .top-part1{
    margin-top: 5pc;
}
#section8-container #section8 .top-part1 h3{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    /* margin-top: 9pc; */
    margin-bottom: 3pc;
}
#section8-container #section8 .top-part2 h1{
    font-size: 30px;
    font-weight: 600;
    color: #16171C;
    margin-bottom: 4pc;
    text-align: center;
}



#section8 .top-part1 .vertical{
    border-left: 2px solid #2173FF;
    height: 28px !important;
    display: inline;
    margin-right: 7px;
    text-align: left;
    float: left;
    text-align: left;
}
#bottom-part1{
  width: 100%;
  text-align: center;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding-bottom: 2in; */
}
#section8-container #section8 .bottom-part .middle-two-divs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin: 1pc;
    text-align: left;
    padding: 2pc;
    border: none;
    border-radius: 10px;
    width: 100%;
}

#section8-container #section8 .bottom-part .middle-two-divs .inner-left h3{
  font-size: 16px;
  font-weight: 400;
  color: #4A4F5C;
  width: 100%;
  text-align: left;
 
}
#section8-container #section8 .bottom-part .middle-two-divs .inner-left h3:hover{
  font-size: 16px;
  font-weight: 500;
  color: #2173FF;
  cursor: pointer;
  width: 100%;
  text-align: left;
 
}
#section8-container #section8 .bottom-part .middle-two-divs .inner-left p{
  font-size: 13px;
  font-weight: 500;
  color: #4A4F5C;
  /* display: none; */
  margin-top: 3pc;
}





#section8-container #section8 .bottom-part .middle-two-divs .button_plus {
  width: 25px;
  height: 25px;
  background-color: #3498db; /* Default background color */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10%;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

/* Define the plus sign icon inside the button */
#section8-container #section8 .bottom-part .middle-two-divs .button_plus::before {
  content: "+"; /* Plus sign character */
  font-size: 40px; /* Adjust the size as needed */
  color: white; /* Icon color */
  vertical-align: center;
  margin-bottom: 10px;
}

/* Define the hover effect for the button */
#section8-container #section8 .bottom-part .middle-two-divs .button_plus:hover {
  background-color: #e74c3c; /* Hover background color */
}
}


/* =========================================bottom 8 section========================================  */

#lower-bottom-part-section8{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1in;
  background-image: url(./images/backgroundImage1.webp);
  background-color: #092537;
  width: 80%;
  height: 590px;
  border-radius: 20px;
  margin-bottom: 1in;
 
 
}

#lower-bottom-part-section8 .left-data-section{
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

#lower-bottom-part-section8 .left-data-section h2{
  font-size: 72px;
  font-weight: 600;
  color: #FFFFFF;
  width: 70%;
  text-align: left;
  line-height: 1.2;
  height: 90%;
}

#lower-bottom-part-section8 .left-data-section a{
  background-color: #2172FF;
  padding: 17px;
  color:#FFFFFF;
  font-size: 24px;
  font-weight: 600;
  width: 25%;
  text-align: center;
  margin-top: .6in;
  border-radius: 8px;
  text-decoration: none;
  margin-left: -25pc;
}

#lower-bottom-part-section8 .left-data-section a:hover{
  background-color: #004DD1 ;
  padding: 17px;
  color:#FFFFFF;
  font-size: 24px;
  font-weight: 600;
  width: 25%;
  text-align: center;
  margin-top: .6in;
  border-radius: 8px;
  text-decoration: none;
  margin-left: -25pc;
}


#lower-bottom-part-section8 .right-image-section{
  width: 40%;
  height: auto;
  text-align: center;
}


#lower-bottom-part-section8 .right-image-section img{
  height: 50%;
  width: 100%;
  text-align: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.6;
  overflow: hidden;
}



@media screen and (max-width:1900px){
  #lower-bottom-part-section8{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.5in;
    background-image: url(./images/backgroundImage1.webp);
    background-color: #092537;
    width: 80%;
    height: 500px;
    border-radius: 20px;
    
  }
  
  #lower-bottom-part-section8 .left-data-section{
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  
  #lower-bottom-part-section8 .left-data-section h2{
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    width: 70%;
    text-align: left;
    line-height: 1.2;
    height: 90%;
  }
  
  #lower-bottom-part-section8 .left-data-section a{
    background-color: #2172FF;
    padding: 10px;
    color:#FFFFFF;
    font-size: 18px;
    font-weight: 600;
    width: 25%;
    text-align: center;
    margin-top: 10px;
    border-radius: 8px;
    text-decoration: none;
    margin-left:-15pc;
  }
  
  #lower-bottom-part-section8 .left-data-section a:hover{
    background-color: #004DD1 ;
    padding: 17px;
    color:#FFFFFF;
    font-size: 24px;
    font-weight: 600;
    width: 25%;
    text-align: center;
    margin-top: 10px;
    border-radius: 8px;
    text-decoration: none;
  }
  
  
  #lower-bottom-part-section8 .right-image-section{
    width: 39%;
    height: auto;
    text-align: center;
  }
  
  
  #lower-bottom-part-section8 .right-image-section img{
    height: 52.8vh;
    width: 100%;
    /* text-align: right; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.6;
    overflow: hidden;
    margin-right: -13px;
  }
}










@media screen and (max-width:1360px){
  #lower-bottom-part-section8{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2in;
    background-image: url(./images/backgroundImage1.webp);
    background-color: #092537;
    width: 75%;
    height: auto;
    border-radius: 20px;
    
  }
  
  #lower-bottom-part-section8 .left-data-section{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  
  #lower-bottom-part-section8 .left-data-section h2{
    font-size: 35px;
    font-weight: 600;
    color: #FFFFFF;
    width: 89%;
    text-align: justify;
    line-height: 1.3;
    height: 82%;
  }
  
  #lower-bottom-part-section8 .left-data-section a{
    background-color: #2172FF;
    padding: 10px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    width: 30%;
    text-align: center;
    margin-top: .6in;
    border-radius: 8px;
    text-decoration: none;
    margin-left:-12pc;
  }
  
  #lower-bottom-part-section8 .left-data-section a:hover{
    background-color: #004DD1 ;
    padding: 10px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    width: 30%;
    text-align: center;
    margin-top: .6in;
    border-radius: 8px;
    text-decoration: none;
    margin-left:-12pc;
  }
  
  
  #lower-bottom-part-section8 .right-image-section{
    width: 39%;
    height: auto;
    text-align: center;
  }
  
  
  #lower-bottom-part-section8 .right-image-section img{
    height: 47.9vh;
    width: 114%;
    text-align: right;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 12px;
    opacity: 0.5;
    overflow: hidden;
  }
}



@media screen and (max-width:940px){
  #lower-bottom-part-section8{
    display: grid;
    grid-template-columns: 6fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1in;
    background-image: url(./images/backgroundImage1.webp);
    background-color: #092537;
    width: 60%;
    height: 1000px;
    border-radius: 8px;
    
  }
  
  #lower-bottom-part-section8 .left-data-section{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #lower-bottom-part-section8 .left-data-section h2{
    font-size: 37px;
    font-weight: 600;
    color: #FFFFFF;
    width: 82%;
    text-align: center;
    line-height: 1.3;
    height: 99%;
  }
  
  #lower-bottom-part-section8 .left-data-section a{
    background-color: #2172FF;
    padding: 10px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    width: 30%;
    text-align: center;
    margin-top: .6in;
    border-radius: 8px;
    text-decoration: none;
    margin-left:1px;
  }
  
  #lower-bottom-part-section8 .left-data-section a:hover{
    background-color: #2172FF;
    padding: 10px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    width: 30%;
    text-align: center;
    margin-top: .6in;
    border-radius: 8px;
    text-decoration: none;
    margin-left:1px;
  }
  
  
  #lower-bottom-part-section8 .right-image-section{
    width: 100%;
    height: auto;
    text-align: center;
  }
  
  
  #lower-bottom-part-section8 .right-image-section img{
    height: 56.9vh;
    width: 100%;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
    overflow: hidden;
    margin-left: -12px;
    margin-bottom: -5.8pc;
  }
}


@media screen and (max-width:755px){
  #lower-bottom-part-section8{
    display: grid;
    grid-template-columns: 6fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1in;
    background-image: url(./images/backgroundImage1.webp);
    background-color: #092537;
    width: 60%;
    height: 1000px;
    border-radius: 8px;
    
  }
  
  #lower-bottom-part-section8 .left-data-section{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #lower-bottom-part-section8 .left-data-section h2{
    font-size: 37px;
    font-weight: 600;
    color: #FFFFFF;
    width: 82%;
    text-align: center;
    line-height: 1.3;
    height: 99%;
  }
  
  #lower-bottom-part-section8 .left-data-section a{
    background-color: #2172FF;
    padding: 10px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    width: 30%;
    text-align: center;
    margin-top: .6in;
    border-radius: 8px;
    text-decoration: none;
    margin-left:1px;
  }
  
  #lower-bottom-part-section8 .left-data-section a:hover{
    background-color: #2172FF;
    padding: 10px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    width: 30%;
    text-align: center;
    margin-top: .6in;
    border-radius: 8px;
    text-decoration: none;
    margin-left:1px;
  }
  
  
  #lower-bottom-part-section8 .right-image-section{
    width: 100%;
    height: auto;
    text-align: center;
  }
  
  
  #lower-bottom-part-section8 .right-image-section img{
    height: 48.9vh;
    width: 100%;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
    overflow: hidden;
    margin-left: -12px;
    margin-bottom: -6.1pc;
  }
}



@media screen and (max-width:606px){
  #lower-bottom-part-section8{
    display: grid;
    grid-template-columns: 6fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1in;
    background-image: url(./images/backgroundImage1.webp);
    background-color: #092537;
    width: 100%;
    height: 1000px;
    border-radius: 8px;
    
  }
  
  #lower-bottom-part-section8 .left-data-section{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #lower-bottom-part-section8 .left-data-section h2{
    font-size: 37px;
    font-weight: 600;
    color: #FFFFFF;
    width: 82%;
    text-align: center;
    line-height: 1.3;
    height: 99%;
  }
  
  #lower-bottom-part-section8 .left-data-section a{
    background-color: #2172FF;
    padding: 10px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    width: 30%;
    text-align: center;
    margin-top: .6in;
    border-radius: 8px;
    text-decoration: none;
    margin-left:1px;
  }
  
  #lower-bottom-part-section8 .left-data-section a:hover{
    background-color: #2172FF;
    padding: 10px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    width: 30%;
    text-align: center;
    margin-top: .6in;
    border-radius: 8px;
    text-decoration: none;
    margin-left:1px;
  }
  
  
  #lower-bottom-part-section8 .right-image-section{
    width: 100%;
    height: auto;
    text-align: center;
  }
  
  
  #lower-bottom-part-section8 .right-image-section img{
    height: 59.9vh;
    width: 100%;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
    overflow: hidden;
    margin-left: -12px;
    margin-bottom: -5.1pc;
  }
}




@media screen and (max-width:526px){
  #lower-bottom-part-section8{
    display: grid;
    grid-template-columns: 6fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.5in;
    background-image: url(./images/backgroundImage1.webp);
    background-color: #092537;
    width: 100%;
    height: 1000px;
    border-radius: 8px;
    
  }
  
  #lower-bottom-part-section8 .left-data-section{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #lower-bottom-part-section8 .left-data-section h2{
    font-size: 37px;
    font-weight: 600;
    color: #FFFFFF;
    width: 82%;
    text-align: center;
    line-height: 1.3;
    height: 99%;
  }
  
  #lower-bottom-part-section8 .left-data-section a{
    background-color: #2172FF;
    padding: 10px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    width: 30%;
    text-align: center;
    margin-top: .6in;
    border-radius: 8px;
    text-decoration: none;
    margin-left:1px;
  }
  
  #lower-bottom-part-section8 .left-data-section a:hover{
    background-color: #2172FF;
    padding: 10px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    width: 30%;
    text-align: center;
    margin-top: .6in;
    border-radius: 8px;
    text-decoration: none;
    margin-left:1px;
  }
  
  
  #lower-bottom-part-section8 .right-image-section{
    width: 100%;
    height: auto;
    text-align: center;
  }
  
  
  #lower-bottom-part-section8 .right-image-section img{
    height: 100%;
    width: 100%;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
    overflow: hidden;
    margin-left: -12px;
    margin-bottom: -7.4pc;
  }
}



@media screen and (max-width:390px){
  #lower-bottom-part-section8{
    display: grid;
    grid-template-columns: 6fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1in;
    background-image: url(./images/backgroundImage1.webp);
    background-color: #092537;
    width: 99%;
    height: 860px;
    border-radius: 8px;
    
  }
  
  #lower-bottom-part-section8 .left-data-section{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #lower-bottom-part-section8 .left-data-section h2{
    font-size: 37px;
    font-weight: 600;
    color: #FFFFFF;
    width: 82%;
    text-align: center;
    line-height: 1.3;
    height: 99%;
  }
  
  #lower-bottom-part-section8 .left-data-section a{
    background-color: #2172FF;
    padding: 10px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    width: 30%;
    text-align: center;
    margin-top: .6in;
    border-radius: 8px;
    text-decoration: none;
    margin-left:1px;
  }
  
  #lower-bottom-part-section8 .left-data-section a:hover{
    background-color: #2172FF;
    padding: 10px;
    color:#FFFFFF;
    font-size: 12px;
    font-weight: 600;
    width: 30%;
    text-align: center;
    margin-top: .6in;
    border-radius: 8px;
    text-decoration: none;
    margin-left:1px;
  }
  
  
  #lower-bottom-part-section8 .right-image-section{
    width: 100%;
    height: auto;
    text-align: center;
  }
  
  
  #lower-bottom-part-section8 .right-image-section img{
    height: 48.6vh;
    width: 100%;
    text-align: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.5;
    overflow: hidden;
    margin-left: -12px;
    margin-bottom: -4.1pc;
  }
}



