
/* #section6 #section6-container .both-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
} */

/* #section6-container{
    margin-left:3pc;
    margin-right:3pc !important;
    margin-top:3pc;
    margin-bottom:3pc;

} */

#section6 #section6-container{
    margin-bottom: 4pc;
    padding-bottom: 6pc;
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.upper-heading{
    text-align: center;
    width: 100%;
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.upper-heading h2{
    /* text-align: center; */
    width: 70%;
    /* height: auto; */
    font-size: 53px;
    font-weight: 600;
    color: #16171C;
    line-height: 1.1;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
    margin-top: 6pc;
    margin-bottom: 1.5pc;
    
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.para-heading{
    text-align: center;
    width: 100%;
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.para-heading p{
    /* text-align: center; */
    width: 60%;
    /* height: auto; */
    font-size: 19px;
    font-weight: 400;
    color: #16171C;
    line-height: 1.1;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
    margin-bottom: 4pc;
    line-height: 1.5;
    color: #4A4F5C;
    
}



#section6 #section6-container .bottom-lower-sections .card-container {
  
	
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 3fr 3fr 3fr;
	justify-content: center;
    align-items: center;
}



#section6 #section6-container .bottom-lower-sections .card-container .card {
    background-color: #FFFFFF;
	border-radius: 8px;
	color: white;
	padding: 10px 0 16px;
	text-align: center;
	/* text-shadow: 1px 1px 0 #555; */
    height: 400px;
    width: 100%;
    text-align: center;
    margin: 0px;
}
#section6 #section6-container .bottom-lower-sections .card-container .card h1{
   color: #16171C;
   margin-top: 2pc;
   font-size: 28px;
   font-weight: 600;
   text-align: start;
   margin-left: 2pc;
   
}
#section6 #section6-container .bottom-lower-sections .card-container .card p{
    color: #4A4F5C;
    width: 80%;
    margin-top: 1.6pc;
    font-size: 19px;
    text-align: start;
    margin-left: 2pc;

 }
 #section6 #section6-container .bottom-lower-sections .card-container .card i{
    color: #16171C;
    margin-top: 3pc;
    text-align: start;
    margin-left: 2pc;
    margin-right: 19.8pc;
    padding: 12px;
    background-color: #EDF7FF;
    border: none;
    border-radius: 8px;
 }
 #section6 #section6-container .bottom-lower-sections .card-container .card i:hover{
    color: #004DD1;
    margin-top: 3pc;
    text-align: start;
    margin-left: 2pc;
    margin-right: 19.8pc;
    padding: 12px;
    background-color: #EDF7FF;
    border: none;
    border-radius: 8px;
 }
#section6-container{
    background-color: #EFF7FE;
}

.fas {
	font-size: 43px;
}
/* .fas:hover {
	background-color: #004DD1;
} */

@media screen and (max-width:1390px){

    #section6 #section6-container 
.both-sections 
.top-upper-section 
.upper-heading h2{
    /* text-align: center; */
    width: 70%;
    /* height: auto; */
    font-size: 43px;
    font-weight: 600;
    color: #16171C;
    line-height: 1.1;
    text-align: center;
    margin-left: 150px;
    margin-right: 170px;
    display: inline-block;
    margin-top: 6pc;
    margin-bottom: 1.5pc;
    
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.para-heading{
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    
}
/* #section6 #section6-container 
.both-sections 
.top-upper-section{
    text-align: start;
    margin-right: 20pc;
} */
#section6 #section6-container 
.both-sections 
.top-upper-section 
.para-heading p{
    /* text-align: center; */
    width: 80% !important;
    /* height: auto; */
    font-size: 19px;
    font-weight: 400;
    color: #16171C;
    line-height: 1.1;
    text-align: start;
    margin-left: 130px;
    margin-right: 150px;
    display: inline-block;
    margin-bottom: 4pc;
    line-height: 1.5;
    color: #4A4F5C;
    
}



#section6 #section6-container .bottom-lower-sections .card-container {
  
	
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 3fr 3fr 3fr;
	justify-content: center;
    align-items: center;
}



#section6 #section6-container .bottom-lower-sections .card-container .card {
    background-color: #FFFFFF;
	border-radius: 8px;
	color: white;
	padding: 10px 0 16px;
	text-align: center;
	/* text-shadow: 1px 1px 0 #555; */
    height: 400px;
    width: 100%;
    text-align: left;
    margin: 0px;
}
#section6 #section6-container .bottom-lower-sections .card-container .card h1{
    color: #16171C;
    margin-top: 2pc;
    font-size: 22px;
    font-weight: 600;
    text-align: start;
    margin-left: 2pc;
    width: 15rem;
    
 }
 #section6 #section6-container .bottom-lower-sections .card-container .card p{
     color: #4A4F5C;
     width:15rem;
     margin-top: 1.6pc;
     font-size: 15px;
     text-align: left;
    margin-left: 2pc;
 
  }
  #section6 #section6-container .bottom-lower-sections .card-container .card i{
     color: #16171C;
     margin-top: 3pc;
     text-align: start;
     margin-left: 2pc;
     margin-right: 12pc;
     padding: 12px;
     background-color: #EDF7FF;
     border: none;
     border-radius: 8px;
  }
  #section6 #section6-container .bottom-lower-sections .card-container .card i:hover{
     color: #004DD1;
     margin-top: 3pc;
     text-align: start;
     margin-left: 2pc;
     margin-right: 12pc;
     padding: 12px;
     background-color: #EDF7FF;
     border: none;
     border-radius: 8px;
  }
#section6-container{
    background-color: #EFF7FE;
}

.fas {
	font-size: 43px;
}
}


@media screen and (max-width:1000px){

    #section6 #section6-container 
.both-sections 
.top-upper-section 
.upper-heading h2{
    /* text-align: center; */
    width: 80%;
    /* height: auto; */
    font-size: 48px;
    font-weight: 600;
    color: #16171C;
    line-height: 1.1;
    text-align: center;
    margin-left: 80px;
    margin-right: 150px;
    display: inline-block;
    margin-top: 6pc;
    margin-bottom: 1.5pc;
    
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.para-heading{
    text-align: center;
    width: 100%;
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.para-heading p{
    /* text-align: center; */
    width: 30%;
    /* height: auto; */
    font-size: 19px;
    font-weight: 400;
    color: #16171C;
    line-height: 1.1;
    text-align: center;
    margin-left: 80px;
    margin-right: 120px;
    display: inline-block;
    margin-bottom: 4pc;
    line-height: 1.5;
    color: #4A4F5C;
    
}



#section6 #section6-container .bottom-lower-sections .card-container {
  
	
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 3fr 3fr;
	justify-content: center;
    align-items: center;
}



#section6 #section6-container .bottom-lower-sections .card-container .card {
    background-color: #FFFFFF;
	border-radius: 8px;
	color: white;
	padding: 10px 0 16px;
	text-align: center;
	/* text-shadow: 1px 1px 0 #555; */
    height: 400px;
    width: 100%;
    text-align: left;
    margin: 0px;
}
#section6 #section6-container .bottom-lower-sections .card-container .card h1{
    color: #16171C;
    margin-top: 2pc;
    font-size: 22px;
    font-weight: 600;
    text-align: start;
    margin-left: 2pc;
    width: 15rem;
    
 }
 #section6 #section6-container .bottom-lower-sections .card-container .card p{
     color: #4A4F5C;
     width:15rem;
     margin-top: 1.6pc;
     font-size: 15px;
     text-align: left;
    margin-left: 2pc;
 
  }
  #section6 #section6-container .bottom-lower-sections .card-container .card i{
     color: #16171C;
     margin-top: 3pc;
     text-align: start;
     margin-left: 2pc;
     margin-right: 12pc;
     padding: 12px;
     background-color: #EDF7FF;
     border: none;
     border-radius: 8px;
  }
  #section6 #section6-container .bottom-lower-sections .card-container .card i:hover{
     color: #004DD1;
     margin-top: 3pc;
     text-align: start;
     margin-left: 2pc;
     margin-right: 12pc;
     padding: 12px;
     background-color: #EDF7FF;
     border: none;
     border-radius: 8px;
  }
#section6-container{
    background-color: #EFF7FE;
}

.fas {
	font-size: 43px;
}
}

@media screen and (max-width:790px){

    #section6 #section6-container 
.both-sections 
.top-upper-section 
.upper-heading h2{
    /* text-align: center; */
    width: 80%;
    /* height: auto; */
    font-size: 48px;
    font-weight: 600;
    color: #16171C;
    line-height: 1.1;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
    margin-top: 6pc;
    margin-bottom: 1.5pc;
    
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.para-heading{
    text-align: center;
    width: 100%;
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.para-heading p{
    /* text-align: center; */
    width: 30%;
    /* height: auto; */
    font-size: 19px;
    font-weight: 400;
    color: #16171C;
    line-height: 1.1;
    text-align: center;
    margin-left: 130px;
    margin-right: 120px;
    display: inline-block;
    margin-bottom: 4pc;
    line-height: 1.5;
    color: #4A4F5C;
    
}



#section6 #section6-container .bottom-lower-sections .card-container {
  
	
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 6fr;
	justify-content: center;
    align-items: center;
}



#section6 #section6-container .bottom-lower-sections .card-container .card {
    background-color: #FFFFFF;
	border-radius: 8px;
	color: white;
	padding: 10px 0 16px;
	text-align: center;
	/* text-shadow: 1px 1px 0 #555; */
    height: 400px;
    width: 100%;
    text-align: left;
    margin: 0px;
}
#section6 #section6-container .bottom-lower-sections .card-container .card h1{
    color: #16171C;
    margin-top: 2pc;
    font-size: 40px;
    font-weight: 600;
    text-align: start;
    margin-left: 2pc;
    width: 32rem;
    
 }
 #section6 #section6-container .bottom-lower-sections .card-container .card p{
     color: #4A4F5C;
     width:25rem;
     margin-top: 1.6pc;
     font-size: 19px;
     text-align: left;
    margin-left: 2pc;
    font-weight: 400;
 
  }
  #section6 #section6-container .bottom-lower-sections .card-container .card i{
     color: #16171C;
     margin-top: 3pc;
     text-align: start;
     margin-left: 2pc;
     margin-right: 16pc;
     padding: 12px;
     background-color: #EDF7FF;
     border: none;
     border-radius: 8px;
  }
  #section6 #section6-container .bottom-lower-sections .card-container .card i:hover{
     color: #004DD1;
     margin-top: 3pc;
     text-align: start;
     margin-left: 2pc;
     margin-right: 16pc;
     padding: 12px;
     background-color: #EDF7FF;
     border: none;
     border-radius: 8px;
  }
#section6-container{
    background-color: #EFF7FE;
}

.fas {
	font-size: 43px;
}
}

@media screen and (max-width:850px){

    #section6 #section6-container 
.both-sections 
.top-upper-section 
.upper-heading h2{
    /* text-align: center; */
    width: 80%;
    /* height: auto; */
    font-size: 52px;
    font-weight: 600;
    color: #16171C;
    line-height: 1.1;
    text-align: center;
    margin-left: 0;
    margin-right: -10pc;
    display: inline-block;
    margin-top: 6pc;
    margin-bottom: 1.5pc;
    
}


#section6 #section6-container 
.both-sections 
.top-upper-section {
    text-align: left;
    margin-left: -6pc;
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.para-heading{
    text-align: center;
    width: 100%;
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.para-heading p{
    /* text-align: center; */
    width: 30%;
    /* height: auto; */
    font-size: 19px;
    font-weight: 400;
    color: #16171C;
    line-height: 1.1;
    text-align: center;
    margin-left: 0;
    margin-right: -11pc;
    display: inline-block;
    margin-bottom: 4pc;
    line-height: 1.5;
    color: #4A4F5C;
    
}



#section6 #section6-container .bottom-lower-sections .card-container {
  
	
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 6fr;
	justify-content: center;
    align-items: center;
}



#section6 #section6-container .bottom-lower-sections .card-container .card {
    background-color: #FFFFFF;
	border-radius: 8px;
	color: white;
	padding: 10px 0 16px;
	text-align: center;
	/* text-shadow: 1px 1px 0 #555; */
    height: 400px;
    width: 100%;
    text-align: left;
    margin: 0px;
}
#section6 #section6-container .bottom-lower-sections .card-container .card h1{
    color: #16171C;
    margin-top: 2pc;
    font-size: 32px;
    font-weight: 600;
    text-align: start;
    margin-left: 2pc;
    width: 32rem;
    display: inline-block;
    
 }
 #section6 #section6-container .bottom-lower-sections .card-container .card p{
     color: #4A4F5C;
     width:25rem;
     margin-top: 1.6pc;
     font-size: 19px;
     text-align: left;
    margin-left: 2pc;
    font-weight: 400;
 
  }
  #section6 #section6-container .bottom-lower-sections .card-container .card .fas{
     color: #16171C;
     margin-top: 3pc;
     text-align: start;
     margin-left: 2pc;
     margin-right: 37pc;
     padding: 12px;
     background-color: #EDF7FF;
     border: none;
     border-radius: 8px;
     padding-right: 3pc;
  }
  #section6 #section6-container .bottom-lower-sections .card-container .card .fas:hover{
     color: #004DD1;
     margin-top: 3pc;
     text-align: start;
     margin-left: 2pc;
     margin-right: 37pc;
     padding: 12px;
     background-color: #EDF7FF;
     border: none;
     border-radius: 8px;
   
  }
 
#section6-container{
    background-color: #EFF7FE;
}

.fas {
	font-size: 43px;
}
}



@media screen and (max-width:500px){

#section6 #section6-container .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#section6 #section6-container 
.both-sections 
.top-upper-section 
.upper-heading h2{
    /* text-align: center; */
    width: 100%;
    /* height: auto; */
    font-size: 34px;
    font-weight: 600;
    color: #16171C;
    line-height:1.1 ;
    text-align: center;
    margin-left: 147px;
    margin-right: 150px;
    display: inline-block;
    margin-top: 4pc;
    margin-bottom: .1pc;
    margin-left:2px;
    margin-right: 3px;
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.para-heading{
    text-align: center;
    width:50vh;
    font-size: 28px;
    font-weight: 400;
    color: #16171C;
    line-height:1.1 ;
    text-align: center;
    /* margin-left: 150px; */
    margin-right: 150px;
    display: inline-block;
    margin-top: 2pc;
    margin-bottom: .1pc;
    margin-left:-6.3pc;
    /* margin-right: 3px; */
}
#section6 #section6-container 
.both-sections 
.top-upper-section 
.para-heading p{
    text-align: center;
    width: 70%;
    height: auto;
     font-size: 14px;
    font-weight: 400;
    color: #16171C;
    line-height: 1.1;
    text-align: center;
    margin-left: 12pc;
    /* margin-right: 120px; */
    display: inline-block;
    margin-bottom: 4pc;
    line-height: 1.5;
    margin-left: 5.7pc;
    color: #4A4F5C;
}
     




#section6 #section6-container .bottom-lower-sections .card-container {
  
	
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 6fr;
	justify-content: center;
    align-items: center;
}



#section6 #section6-container .bottom-lower-sections .card-container .card {
    background-color: #FFFFFF;
	border-radius: 8px;
	color: white;
	padding: 10px 0 16px;
	text-align: center;
	/* text-shadow: 1px 1px 0 #555; */
    height: 400px;
    width: 100%;
    text-align: left;
   
    
}
#section6 #section6-container .bottom-lower-sections .card-container .card h1{
    color: #16171C;
    /* margin-top: 1pc; */
    font-size:24px;
    font-weight: 600;
    text-align: left;
    /* margin-left: 2pc; */
    width: 30rem;
    display: flexbox;
    float: left;
    margin-top: 1pc;
    margin-left: 1pc;
  
    
 }
 #section6 #section6-container .bottom-lower-sections .card-container .card p{
     color: #4A4F5C;
     width:38vh;
     margin-top: 1pc;
     font-size: 20px;
     text-align: left;
     margin-left: .6pc;
     font-weight: 400;
     margin-left: 1pc;
     display:inline-flexbox;
 
  }
  #section6 #section6-container .bottom-lower-sections .card-container .card i{
     color: #16171C;
     margin-top: 2pc;
     text-align: start;
     margin-left: 2pc;
     margin-right: 14.5pc;
     padding: 12px;
     background-color: #EDF7FF;
     border: none;
     border-radius: 8px;
     margin-bottom: 1.5pc;
  }
  #content2::before{
    content: "\a";
    white-space: pre;
  }
  #section6 #section6-container .bottom-lower-sections .card-container .card i:hover{
     color: #004DD1 !important;
     margin-top: 2pc;
     text-align: start;
     margin-left: 2pc;
     margin-right: 14.5pc;
     padding: 12px;
     background-color: #EDF7FF;
     border: none;
     border-radius: 8px;
     margin-bottom: 1.5pc;

  }
#section6-container{
    background-color: #EFF7FE;
}

.fas {
	font-size: 30px;
}
}

@media screen and (max-width:480px){

    #section6 #section6-container .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    #section6 #section6-container 
    .both-sections 
    .top-upper-section 
    .upper-heading h2{
        /* text-align: center; */
        width: 100%;
        /* height: auto; */
        font-size: 23px;
        font-weight: 600;
        color: #16171C;
        line-height:1.1 ;
        text-align: center;
        margin-left: 147px;
        margin-right: 150px;
        display: inline-block;
        margin-top: 4pc;
        margin-bottom: .1pc;
        margin-left:1px;
        margin-right: -5.2pc;
    }
    #section6 #section6-container 
    .both-sections 
    .top-upper-section 
    .para-heading{
        text-align: center;
        width:100%;
        font-size: 10px;
        font-weight: 400;
        color: #16171C;
        line-height:1.1 ;
        text-align: center;
        /* margin-left: 150px; */
        margin-right: 150px;
        display: inline-block;
        margin-top: 2pc;
        margin-bottom: .1pc;
        margin-left:-8.8pc;
        /* margin-right: 3px; */
    }
    
    
    
    
    #section6 #section6-container .bottom-lower-sections .card-container {
      
        
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 6fr;
        justify-content: center;
        align-items: center;
    }
    
    
    
    #section6 #section6-container .bottom-lower-sections .card-container .card {
        background-color: #FFFFFF;
        border-radius: 8px;
        color: white;
        padding: 10px 0 16px;
        text-align: center;
        /* text-shadow: 1px 1px 0 #555; */
        height: 400px;
        width: 100%;
        text-align: left;
       
        
    }
    #section6 #section6-container .bottom-lower-sections .card-container .card h1{
        color: #16171C;
        /* margin-top: 1pc; */
        font-size:18px;
        font-weight: 600;
        text-align: left;
        /* margin-left: 2pc; */
        width: 90%;
        display: flexbox;
        float: left;
        margin-top: 1pc;
        margin-left: 1pc;
      
        
     }
     #section6 #section6-container .bottom-lower-sections .card-container .card p{
         color: #4A4F5C;
         width:90%;
         margin-top: 1pc;
         font-size: 15px;
         text-align: left;
         margin-left: .6pc;
         font-weight: 400;
         margin-left: 1pc;
         display:inline-flexbox;
     
      }
      #section6 #section6-container .bottom-lower-sections .card-container .card i{
         color: #16171C;
         margin-top: 2pc;
         text-align: start;
         margin-left: 2pc;
         margin-right: 14.5pc;
         padding: 12px;
         background-color: #EDF7FF;
         border: none;
         border-radius: 8px;
         margin-bottom: 1.5pc;
      }
      #content2::before{
        content: "\a";
        white-space: pre;
      }
      #section6 #section6-container .bottom-lower-sections .card-container .card i:hover{
         color: #004DD1 !important;
         margin-top: 2pc;
         text-align: start;
         margin-left: 2pc;
         margin-right: 14.5pc;
         padding: 12px;
         background-color: #EDF7FF;
         border: none;
         border-radius: 8px;
         margin-bottom: 1.5pc;
    
      }
    #section6-container{
        background-color: #EFF7FE;
    }
    
    .fas {
        font-size: 30px;
    }
    }




    @media  screen and (max-width:420px) and (min-width:340px)  {
        #section6 #section6-container .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #section6 #section6-container 
    .both-sections 
    .top-upper-section {
        text-align: center;
        margin-left: 0px;
    }
    
    #section6 #section6-container 
    .both-sections 
    .top-upper-section 
    .upper-heading h2{
        /* text-align: center; */
        width: 100%;
        /* height: auto; */
        font-size: 17px;
        font-weight: 600;
        color: #16171C;
        line-height:1.1 ;
        text-align: center;
        margin-left: 147px;
        margin-right: 150px;
        display: inline-block;
        margin-top: 4pc;
        margin-bottom: .1pc;
        margin-left:1px;
        margin-right: 3px;
    }
    #section6 #section6-container 
    .both-sections 
    .top-upper-section 
    .para-heading{
        text-align: center;
        width:90%;
        font-size: 15px;
        font-weight: 400;
        color: #16171C;
        line-height:1.1 ;
        text-align: center;
        /* margin-left: 150px; */
        margin-right: 150px;
        display: inline-block;
        margin-top: 2pc;
        margin-bottom: .1pc;
        margin-left:-8.1pc;
        /* margin-right: 3px; */
    }
    
    
    
    
    #section6 #section6-container .bottom-lower-sections .card-container {
      
        
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 6fr;
        justify-content: center;
        align-items: center;
    }
    
    
    
    #section6 #section6-container .bottom-lower-sections .card-container .card {
        background-color: #FFFFFF;
        border-radius: 8px;
        color: white;
        padding: 10px 0 16px;
        text-align: center;
        /* text-shadow: 1px 1px 0 #555; */
        height: 400px;
        width: 100%;
        text-align: left;
       
        
    }
    #section6 #section6-container .bottom-lower-sections .card-container .card h1{
        color: #16171C;
        /* margin-top: 1pc; */
        font-size:24px;
        font-weight: 600;
        text-align: left;
        /* margin-left: 2pc; */
        width: 30rem;
        display: flexbox;
        float: left;
        margin-top: 1pc;
        margin-left: 1pc;
      
        
     }
     #section6 #section6-container .bottom-lower-sections .card-container .card p{
        color: #4A4F5C;
        /* width: ; */
        margin-top: 1pc;
        font-size: 18px;
        text-align: left;
        margin-left: .6pc;
        font-weight: 400;
        margin-left: 1pc;
        display: inline-flexbox;
        padding-right: 12px;
      }
     
      }
      #section6 #section6-container .bottom-lower-sections .card-container .card i{
         color: #16171C;
         margin-top: 2pc;
         text-align: start;
         margin-left: 2pc;
         margin-right: 20.5pc;
         padding: 12px;
         background-color: #EDF7FF;
         border: none;
         border-radius: 8px;
         margin-bottom: 1.5pc;
      }
      #content2::before{
        content: "\a";
        white-space: pre;
      }
      #section6 #section6-container .bottom-lower-sections .card-container .card i:hover{
         color: #004DD1 !important;
         margin-top: 2pc;
         text-align: start;
         margin-left: 2pc;
         margin-right: 14.5pc;
         padding: 12px;
         background-color: #EDF7FF;
         border: none;
         border-radius: 8px;
         margin-bottom: 1.5pc;
    
      }
    #section6-container{
        background-color: #EFF7FE;
    }
    
    .fas {
        font-size: 30px;
    }





    @media screen and (max-width:305px){

        #section6 #section6-container .row{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        
        #section6 #section6-container 
        .both-sections 
        .top-upper-section 
        .upper-heading h2{
            /* text-align: center; */
            width: 100%;
            /* height: auto; */
            font-size: 18px;
            font-weight: 600;
            color: #16171C;
            line-height:1.1 ;
            text-align: center;
            margin-left: 147px;
            margin-right: 150px;
            display: inline-block;
            margin-top: 4pc;
            margin-bottom: .1pc;
            margin-left:2.7pc;
            /* margin-right: 3px; */
        }
        #section6 #section6-container 
        .both-sections 
        .top-upper-section 
        .para-heading{
            text-align: center;
            width:90%;
            font-size: 15px;
            font-weight: 400;
            color: #16171C;
            line-height:1.1 ;
            text-align: center;
            /* margin-left: 150px; */
            margin-right: 150px;
            display: inline-block;
            margin-top: 2pc;
            margin-bottom: .1pc;
            margin-left:-8.1pc;
            /* margin-right: 3px; */
        }
        
        
        
        
        #section6 #section6-container .bottom-lower-sections .card-container {
          
            
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 6fr;
            justify-content: center;
            align-items: center;
        }
        
        
        
        #section6 #section6-container .bottom-lower-sections .card-container .card {
            background-color: #FFFFFF;
            border-radius: 8px;
            color: white;
            padding: 10px 0 16px;
            text-align: center;
            /* text-shadow: 1px 1px 0 #555; */
            height: auto;
            width: 100%;
            text-align: left;
           
            
        }
        #section6 #section6-container .bottom-lower-sections .card-container .card h1{
            color: #16171C;
            /* margin-top: 1pc; */
            font-size:14px;
            font-weight: 600;
            text-align: left;
            /* margin-left: 2pc; */
            width: 30rem;
            display: flexbox;
            float: left;
            margin-top: 1pc;
            margin-left: 1pc;
          
            
         }
         #section6 #section6-container .bottom-lower-sections .card-container .card p{
             color: #4A4F5C;
             width:90%;
             margin-top: 1pc;
             font-size: 10px;
             text-align: left;
             margin-left: .6pc;
             font-weight: 400;
             margin-left: 1pc;
             display:inline-block;
         
          }
          #section6 #section6-container .bottom-lower-sections .card-container .card i{
             color: #16171C;
             margin-top: 2pc;
             text-align: start;
             margin-left: 2pc;
             margin-right: 200px;
             padding: 16px;
             background-color: #EDF7FF;
             border: none;
             border-radius: 8px;
             margin-bottom: 1.5pc;
          }
          #content2::before{
            content: "\a";
            white-space: pre;
          }
          #section6 #section6-container .bottom-lower-sections .card-container .card i:hover{
             color: #004DD1 !important;
             margin-top: 2pc;
             text-align: start;
             margin-left: 2pc;
             margin-right: 100px;
             padding: 16px;
             background-color: #EDF7FF;
             border: none;
             border-radius: 8px;
             margin-bottom: 1.5pc;
        
          }
        #section6-container{
            background-color: #EFF7FE;
        }
        
        .fas {
            font-size: 30px;
        }
        }




